
@{
    ViewBag.Title = "NotFound";
}

<div class="text-center">
    <img src="https://notionpress.com/images/404-error.gif" alt="Page not found"/>
    <h2>Страницата не е намерена</h2>
    <p>Отиди на <a href="/">Заглавната страница</a></p>
</div>

