
@{
    ViewBag.Title = "ServerError";
}


<div class="servererror-img center">
    <img src="http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image.png"/>
</div>
<div class="servererror-text center"><h3>Възникна проблем, моля да ни извините.</h3></div>

