html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}
.fleft {
    float: left
}
.div-or {
    margin-bottom: 10px
}
.span-or {
    margin-left: 35px;
    color:#999
}
.forgot-password {
    margin-left: 80px;    
}
.form-input {
    width: 300px;
}
.form-textaria {
    width: 300px;
    height: 100px;
    resize: none;
}
.form-btn {
    width: 300px;
}
.login-btn:hover {
    text-decoration: none;
    opacity: .9
}
.login-btn {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 15px;
    display: block;
    position: relative;
    border: none;
    border-radius: 3px;
    background: #1899ce;
    text-align: center;
    color: #fff;
    font-size: 13px;
    cursor: pointer
}
.btn-facebook {
    
    background: #3b5998;
    font-size: 13px;
    width: 32%
}

.btn-facebook:before {
    background: url(https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/256/social_facebook_box_white.png);
    width: 10px;
    height: 10px;
    left: 10px;
    top: 10px;
    font-size: 22px
}
.search-box {
    background: #1899ce;
    height: 65px;
    border-radius: 8px;
    padding: 15px;
    margin-top: -20px;
}
.search-btn {
    float: right;
    width: 150px;
}
.search-input {
    width: 400px;
}
.category-list {
    margin-top: 15px;
}
.category-item {
    vertical-align: middle;
    width: 150px;
    height: 48px;
}
.category-icon {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 30px;
    padding: 11px;
    display: inline-block;
    margin-right: 10px;
}
.category-name {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none !important;
}
.category-name:hover {
    color: white;
    background-color: #158cba;
}
.col-category {
    width: 30% !important;
    margin-bottom: 15px;
}
.thumb {
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #e3e3e3;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
    width: 170px;
    height: 173px;
    text-align: center;
}
.thumb-inner {
    margin-bottom: -5px;
    margin-top: 5px;
}
.img-thumb {
    height: 120px;
    max-width: 167px;
}
.inner {
    background-color: white;
    text-align: initial;
}
.inner a {
    text-decoration: none !important;
}
.inner a h4 {
    color: #158cba;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inner a h4:hover {
    background-color: #158cba;
    color: white;
}
.home-ad-title {
    margin-bottom: -10px
}
.home-price {
    margin-top: -6px;
}
.col-ad {
    width: 1% !important;
    margin-right: 147px; 
}
.row-ad {
    margin-left: 5px;
}
.newest-ad {
    margin-left: 5px !important;
}
.offercontent {
    width: 680px;
    margin-left: 200px;
    margin-top: 35px;
    padding: 10px;
    background-color: #c8c3c3;
    color: white;
    border-top: 4px solid #75caeb;
}
.offer-sidebar {
    float: right;
    margin-top: 35px;
}
.price-label {
    background-color: #c8c3c3;
    height: 55px;
    border-radius: 3px;
    text-align: center;
    padding: 9px;
    font-size: 25px;
    color: white;
    line-height: 40px;
    margin-bottom: 10px;
}

.img-details-div {
    text-align: center;
}
.img-details {
    max-width: 650px;
    height: 450px;
}

.btn-sendMsg {
    width: 205px;
}
.textarea-report {
    width: 550px;
    height: 115px;
    margin-top: 10px;
    resize: none;
}
.data-details {
    float: right;
}
.contact-phone {
    font-size: 25px !important;
    width: 205px;
}
.contact-phone:hover {
    margin-top: 0px !important;
    border-bottom-width: 4px !important;
}
.send-message {
    margin-bottom: 10px;
}
.container-message {
    width: 700px;
    margin: 0 auto;
}
.message-ad-title {
    display: inline-block;
}
.price-ad-message {
    display: inline-block;
    background-color: #c1c1c1;
    width: 195px;
    height: 55px;
    border-radius: 3px;
    text-align: center;
    line-height: 51px;
    margin-top: 10px;
    font-size: 25px;
    float: right;
}
.message-textarea {
    width: 360px;
    height: 150px !important;
    resize: none;
}

.message-phone {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.message-form {
    border: 1px solid #e1dcdc;
    padding: 10px;
    border-radius: 2px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dash {
    border: 0 none;
    border-top: 1px dashed #322f32;
    background: none;
    height: 0;
    width: 155px;
    margin-left: 0;
} 
.category-img {
    max-width: 160px;
    height: 125px;
}
.panel-box {
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    height: 135px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 65px;
}
.img-box {
    float: left;
    margin-right: 5px;
    background-color: #c2c2c2;
    width: 160px;
    height: 125px;
    text-align: center;
}
.category-ad-category {
    margin-bottom: 65px;
}
.category-ad-price {
    float: right;
    margin-top: -130px;
    font-size: 30px;
}
.input-search-box {
    width: 300px;
}
.btn-search-box {
    width: 150px;
}

.checkbox-margin {
    margin: 10px 75px 10px 0px;
}
.btn-margin {
    margin-left: 20px;
}
.input-ad-add {
    width: 250px;
}
.textarea-ad-add {
    width: 250px;
    height: 115px !important;
    resize: none;
}
.img-ad-edit {
    height: 120px;
}
.img-ad-profile {
    width: 80px;
} 
.profile-link {
    font-size: 10px;
    text-decoration: none !important;
}
.profile-link:hover {
    color: white;
    background-color: #158cba;
}
.link-color {
    color: red;
}
.message-link {
    text-decoration: none !important;
}
.message-link:hover {
    color: white;
    background-color: #158cba;
}
.tab-content {
    border: 1px solid #ebebeb;
    border-top: 0;
    padding: 20px;
}
.data-message-detail {
    float: right;
}
.textarea-message-details {
    width: 440px;
    height: 170px !important;
    resize: none;
}
.panel-size-msg-deitals {
    width: 500px;    
}
.setting-box {
    border: 1px solid gainsboro;
    margin-bottom: 15px;
    border-radius: 2px;
}
.setting-box-header {
    background-color: gainsboro;
    height: 34px;
    line-height: 31px;
}
.setting-padding {
    padding: 10px;
}
.link-margin {
    margin-left: 5px;
}
.admin-btn-delete {
    margin: 20px 0 -25px 200px !important;
}
.center {
    text-align: center;
}

li {
    list-style: none;
}

.modal-backdrop {
    position: relative;
}
.inline {
    display: inline-block;
}
.footer-container {
    background: url(http://blog.prodavalnik.com/wp-content/uploads/2011/10/prodavlanik_logo3.png)
                bottom center no-repeat;
    background-size: 100%; 
    padding-bottom: 200px;
    opacity: .5;
}

